.menusContainer {
  width: 100%;
  padding: 20px 0;
  .aBox {
    width: 20%;
    float: left;
    text-align: center;
    padding-bottom: 10px;
  }
  .iconBox {
    height: 102px;
    .menusImg {
      width: 68px;
      height: 68px;
      display: block;
      margin: 0 auto;
      padding-bottom: 5px;
    }
    span {
      font-size: 26px;
      color: #000000;
    }
  }
}
