.galleryImg {
  width: 750px;
  height: 400px;
  transition: all 1s ease-in;
  opacity: 1;
  margin-bottom: 10px;
  background-image: url("/assets/imgs/commons/loading.gif");
  background-size: 100% 100%;
}
.loadingImg {
  width: 750px;
  height: 400px;
  background: grey;
}
